{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Appointments' %}{% endblock %}


{% block content %}
<h1>{% trans 'Appointment details' %}</h1>
<div class="column-2 appointment-detail">
    <h2>{{ appointment.servicio }}</h2>
    <h2>{{ day }} {{ date }}</h2>
    <h2>{{ time }}</h2>
    <h2>{{ name }}</h2>
</div>
<form action="" method="POST"> 
    <br> 
    {% csrf_token %}
    <input class="btn btn-danger detail-button" type="submit" name="action" id="cancel" value={% trans 'Cancel' %}>
    <a href=" {{request.META.HTTP_REFERER|escape}} " class="btn btn-primary detail-button">{% trans 'Go back' %}</a> 
    <input type="hidden" name="pk" value="{{ pk }}">
</form>

{% endblock %}