{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Home' %}{% endblock %}


{% block content %}

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href={% static "css/carousel.css" %}>

<div id='home-container'>
    <section class='home-section' id='user-profile'>
        <div class='icon'></div>
        <div class='info'>
            <div class='form-row'>
                <p>{% trans 'Name' %}:</p>
                <p>{{ user.first_name }}</p>
                <p>{{ user.last_name }}</p>
            </div>
            <div class='form-row'>
                <p>{% trans 'Occupation' %}:</p>
                <p>{{ user.occupation }}</p>
            </div>
            <div class='form-row'>
                <p>{% trans 'Email' %}:</p>
                <p>{{ user.email }}</p>
            </div>
            <div class='form-row'>
                <p>{% trans 'Birth' %}:</p>
                <p>{{ user.date_of_birth }}</p>
            </div>
            <div class='form-row'>
                <p>{% trans 'Points' %}:</p>
                <p>{{ user.points }}</p>
            </div>
        </div>
        <a href="/personal_info/" class="info-button">{% trans 'Edit' %}</a>
    </section>
    
    <section class='home-section' id='carousel'>
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
            </div>
            {% comment %} <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> {% endcomment %}
            <div class="swiper-pagination"></div>
        </div>
    </section>
    
    <section class='home-section' id='buttons'>
        <a href="/gaps/" class="home-button">{% trans 'Book now' %}</a>
        <a href="/appointments/" class="home-button">{% trans 'Appoints' %}</a>
    </section>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script type="text/javascript" src={% static "js/carousel.js"%}></script>


{% endblock %}