* {
    font-family: serif;
}

h1 {
    color: rgb(30, 82, 82);
    font-size: 22px;
}

.row, .row-2 {
    display: block;
}

.column, .column-2 {
    display: inline-block;
}

.main-container {
    display: grid;
    align-content: center;
    padding: 10px;
}

.input-label {
    font-size: 1.2rem;
    color: #212529
}

.column input, .column-2 input {
    display: none;
}

.inner-container {
    display: grid;
    place-items: center;
}

.inner-container input, .inner-container select {
    min-width: 250px;
}

.column label {
    background: linear-gradient(125deg, rgba(28,28,34,1) 74%, rgba(69,49,14,1) 100%, rgba(89,63,9,1) 100%);
    -webkit-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    -moz-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    display: flex;
    margin: 6px 15px;
    width: 100px;
    height: 30px;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    color: white;

}

.column label:hover {
    background: rgb(19, 19, 19);
    -webkit-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    -moz-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
}

.column-2 label:hover {
    background: rgb(44, 44, 44);
    -webkit-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    -moz-box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
    box-shadow: 12px 11px 4px -10px rgba(0,0,0,0.32);
}

.appointment-detail {
    background-color: rgba(26, 25, 25, 0.7);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 6px;
    padding: 15px;
    min-width: 225px;
    max-width: 349px;
    height: 33vh;
    min-height: 230px;
    border-radius: 14px;
    color: white;
}

.detail-button {
    width: 90px;
    margin: 4px;
}

.p-4:has(> .appointment-detail) {
    display: grid;
    justify-content: center;
}

.p-4:has(> #home-container) {
    display: flex;
    align-items: center;
}

.appointment-detail h2 {
    height: 1vh;
    font-size: 16px;
    color: rgb(165 199 176);
}

.column input[type='checkbox']:checked + label {
    background: rgba(255, 255, 255, 0);
    color: black;
}

@media (max-width: 324px) {
    .inner-container input, .inner-container select {
        min-width: 200px;
    }
}


.appointment-label {
    background-color: rgba(26, 25, 25, 0.7);
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 6px;
    padding-top: 12px;
    width: 190px;
    height: 70px;
    border-radius: 14px;
    color: white;
}

.column-2 {
    display: grid;
    place-items: center;
}



/* home */

#home-container {
    display: flex;
    flex-direction: row;
}

.home-section {
    display: block;
    margin: 7px;
    height: 45vh;
    max-width: 29rem;
    /* background-color: antiquewhite; */
}

/* profile */

#user-profile {
    width: 20vw;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    color: rgb(215 150 11);
    border-radius: 9px;
}

#user-profile>.icon {
    display: block;
    height: 12vh;
    width: 12vh;
    background-image: url(./media/user_icon3.png);
    background-size: cover;
}

.info-button {
    text-decoration: none;
    display: grid;
    place-items: center;
    height: 5vh;
    width: 11vw;
    min-width: 150px;
    max-width: 267px;
    border-radius: 6px;
    font-size: 17px;
    background: rgb(193, 170, 57);
    background: linear-gradient(125deg, rgba(193, 170, 57) 0%, rgba(1,1,0,1) 100%);
    color: aliceblue;
}

.info-button:hover {
    background: rgb(212, 189, 71);
    background: linear-gradient(125deg, rgba(212, 189, 71) 0%, rgba(1,1,0,1) 100%);
    color: rgb(255, 255, 255);
}

.form-row>p {
    display: inline;
}

/* carousel */

#carousel {
    width: 30vw;
}

.slide {
    /* background-image: url(../media/main_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0,0,0,0.1), 0 0 40px rgba(0,0,0,0.1), 0 0 60px rgba(0,0,0,0.1), 0 0 80px rgba(0,0,0,0.1);
    min-height: 64vh; */

    /* background-image: url(../media/main_background.jpg);
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), */
    
    /* width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px; */
}

/* buttons */

#buttons {
    width: 20vw;
    display: grid;
    place-items: center;
}

.home-button {
    text-decoration: none;
    display: grid;
    place-items: center;
    height: 15vh;
    width: 15vw;
    max-width: 270px;
    margin: 1vh;
    border-radius: 10px;
    border: 0ch;
    background: rgb(30,82,82);
    background: linear-gradient(125deg, rgba(30,82,82,1) 0%, rgba(1,1,0,1) 100%);
    font-size: 21px;
    color: rgb(215 150 11);
}

.home-button:hover {
    background: rgb(34, 95, 95);
    background: linear-gradient(125deg, rgba(34, 95, 95) 0%, rgba(1,1,0,1) 100%);
    color: rgb(252, 201, 92);
}

@media (max-width: 700px) {
    #home-container {
        flex-direction: column;
        align-items: center;
    }

    #user-profile {
        width: 80vw;
        height: 37vh;
        order: 1;
    }

    #carousel {
        width: 80vw;
        height: 13vh;
        order: 3;
    }

    #buttons {
        width: 80vw;
        height: 15vh;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        order: 2;
    }

    .home-button {
        height: 15vh;
        width: 30vw;
    }
}

